.p-cart .s-object-info {
  position: relative;
  display: none; }

.p-cart .s-project {
  padding-top: 0; }

.p-cart .s-project-nav {
  padding-top: 29px; }

.s-cart {
  background-color: #fff;
  padding-top: 55px;
  padding-bottom: 50px; }
  .s-cart-inner {
    padding: 0 42px; }
  .s-cart-title {
    font-family: Montserrat;
    font-size: 35px;
    padding-top: 33px;
    color: #505454;
    font-weight: 300; }
    .s-cart-title strong {
      font-weight: 500; }
    .s-cart-title span {
      color: #cc5803;
      font-weight: 500; }
  .s-cart-line {
    padding-top: 34px;
    margin: 0 -15px; }
  .s-cart-block {
    padding: 0 15px; }
    .s-cart-block.block1 {
      width: 35%; }
    .s-cart-block.block2 {
      width: 42%; }
    .s-cart-block.block3 {
      width: 23%; }
  .s-cart-info li + li {
    margin-top: -2px; }
  .s-cart-info-item {
    font-family: Montserrat;
    align-items: center; }
    .s-cart-info-item .left {
      color: #777;
      font-size: 17px;
      font-weight: 300;
      line-height: 36px;
      width: 25%;
      padding-right: 15px; }
    .s-cart-info-item .right {
      color: #cc5803;
      font-size: 17px;
      font-weight: 300;
      line-height: 36px; }
      .s-cart-info-item .right sup {
        font-size: 11px; }
    .s-cart-info-item .status {
      color: #0aab06;
      font-size: 22px;
      font-weight: 500; }
  .s-cart-img {
    padding-left: 10px; }
  .s-cart-total {
    background-color: rgba(215, 232, 245, 0.5);
    margin-top: -37px;
    margin-right: -61px;
    margin-left: -4px;
    padding: 31px 43px 47px; }
    .s-cart-total-price {
      padding: 0 26px;
      border-bottom: 1px solid #cdd9e4;
      padding-bottom: 20px; }
      .s-cart-total-price p {
        color: #777;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 300;
        line-height: 36px; }
      .s-cart-total-price .sum {
        font-family: Montserrat;
        line-height: 1.2;
        color: #c25806;
        font-size: 44px;
        font-weight: 500;
        margin-top: -5px; }
        .s-cart-total-price .sum sup {
          font-size: 35px; }
        .s-cart-total-price .sum span {
          color: #6e7574;
          font-size: 36px;
          font-weight: 400; }
    .s-cart-total-price1 {
      padding: 5px 26px;
      padding-bottom: 20px; }
      .s-cart-total-price1 p {
        color: #777;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 300;
        line-height: 36px; }
      .s-cart-total-price1 .sum {
        color: #929b99;
        font-family: Montserrat;
        font-size: 27px;
        line-height: 36px;
        margin-top: -5px; }
        .s-cart-total-price1 .sum span {
          font-weight: 400; }
    .s-cart-total-button {
      padding-top: 19px;
      display: block;
      width: 100%; }
      .s-cart-total-button .s-header-btn {
        width: 100%; }
    .s-cart-total-show {
      padding-top: 28px; }
      .s-cart-total-show .s-header-btn {
        height: 55px;
        background-color: white;
        border-radius: 28px;
        color: #2d303f;
        font-size: 17px;
        width: 100%; }
        .s-cart-total-show .s-header-btn:hover {
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); }
  .s-cart .s-object-button {
    position: relative;
    left: auto;
    top: auto;
    margin-left: -6px;
    margin-top: -12px; }
  .s-cart .s-object-button .s-header-btn {
    padding-left: 0; }
  .s-cart-mobile {
    display: none; }

@media only screen and (max-width: 1500px) {
  .s-cart-total {
    margin-right: 0;
    margin-left: 0; }
  .s-cart-block.block1 {
    width: 30%; }
  .s-cart-info-item .left {
    width: 32%; }
  .s-cart-block.block2 {
    width: 36%; }
  .s-cart-block.block3 {
    width: 34%; }
  .s-cart-total {
    padding: 30px 20px 40px; }
  .s-cart .s-object-button {
    margin-top: 0; } }

@media only screen and (max-width: 1200px) {
  .s-cart {
    padding-top: 66px; }
  .s-cart-inner {
    padding: 0 10px; }
    .s-cart-inner .s-flat-back a .text {
      font-size: 19px; }
  .s-cart-title {
    font-size: 40px;
    padding-top: 46px; }
    .s-cart-title span {
      display: block; }
  .s-cart-block.block1 {
    width: 50%;
    order: 2; }
  .s-cart-block.block2 {
    width: 50%;
    order: 1; }
  .s-cart-block.block3 {
    width: 100%;
    order: 3;
    padding-top: 30px; }
  .s-cart-img {
    padding: 0;
    margin-left: -7px;
    padding-right: 5px; }
  .s-cart-line {
    padding-top: 41px; }
  .s-cart-info {
    padding-left: 10px; }
  .s-cart-info-item .left {
    width: 124px; }
  .s-cart-total {
    margin: 0;
    padding-bottom: 46px; }
    .s-cart-total-inner {
      max-width: 290px;
      margin: 0 auto; } }

@media only screen and (max-width: 991px) {
  .p-cart .s-object-info {
    display: block;
    margin-bottom: -29px; }
  .p-cart {
    background-color: #d7e8f5; }
  .p-cart .s-object-info-filter-item.item1 {
    display: none; }
  .p-cart .s-object-info-filter {
    max-width: 421px;
    margin: 0 auto;
    margin-top: 47px;
    padding: 10px 15px;
    text-align: center; }
  .p-cart .s-object-info-filter-item.item2 {
    width: 100%;
    padding-left: 0; }
  .s-cart-mobile {
    display: block;
    padding-top: 74px; }
    .s-cart-mobile .s-object-button {
      display: flex;
      justify-content: center;
      margin-left: 0;
      padding-top: 42px;
      padding-bottom: 0; }
      .s-cart-mobile .s-object-button .s-header-btn {
        width: auto;
        padding-right: 0; }
  .s-cart-block.block1 {
    width: 100%;
    order: 2;
    padding-top: 51px; }
  .s-cart-block.block2 {
    width: 100%;
    order: 1; }
  .s-cart-block.block3 {
    width: 100%;
    order: 3;
    padding-top: 30px; } }

@media only screen and (max-width: 480px) {
  .p-cart .s-object-info {
    padding-top: 27px;
    margin-bottom: -16px; }
    .p-cart .s-object-info .s-project-title {
      font-size: 26px; }
    .p-cart .s-object-info .s-project-addr {
      font-size: 10px; }
    .p-cart .s-object-info .s-project-addr img {
      width: 16px; }
    .p-cart .s-object-info .s-project-addr {
      padding-top: 0;
      padding-left: 4px; }
    .p-cart .s-object-info .s-project-addr span {
      padding-left: 8px; }
    .p-cart .s-object-info .s-object-info-filter {
      margin-top: 22px;
      padding-top: 0;
      padding-bottom: 0;
      max-width: 222px; }
    .p-cart .s-object-info .s-object-info-filter-item.item2 {
      padding: 0; }
    .p-cart .s-object-info .s-object-info-filter .s-header-btn {
      font-size: 9px;
      height: 30px; }
      .p-cart .s-object-info .s-object-info-filter .s-header-btn img {
        width: 18px; }
    .p-cart .s-object-info .s-object-info-filter .s-header-btn span {
      margin-left: 8px;
      text-decoration: none; }
  .s-cart {
    padding-top: 33px;
    padding-bottom: 10px; }
  .s-cart-inner {
    padding: 0 4px; }
  .s-flat-back a .icon {
    width: 20px;
    height: 20px; }
    .s-flat-back a .icon img {
      width: 5px;
      height: auto;
      display: block; }
  .s-cart-inner .s-flat-back a .text {
    font-size: 12px;
    margin-left: 6px; }
  .s-cart-title {
    font-size: 20px;
    padding-top: 25px; }
  .s-cart-line {
    padding-top: 21px; }
  .s-cart-block.block1 {
    padding-top: 16px; }
  .s-cart-info {
    padding-left: 5px; }
  .s-cart-info-item .left {
    font-size: 9px;
    width: 63px; }
  .s-cart-info-item .right {
    font-size: 9px; }
  .s-cart-info-item .status {
    font-size: 11px; }
  .s-cart-info li + li {
    margin-top: -20px; }
  .s-cart-block.block3 {
    padding-top: 10px; }
  .s-cart-info-item .right sup {
    font-size: 8px; }
  .s-cart-total-price p {
    font-size: 9px; }
  .s-cart-total-price .sum {
    font-size: 22px; }
  .s-cart-total-price .sum span {
    font-size: 19px; }
  .s-cart-total {
    padding-top: 6px;
    padding-bottom: 23px; }
  .s-cart-total-inner {
    max-width: 160px; }
  .s-cart-total-price {
    padding: 0 14px 10px; }
  .s-cart-total-price .sum {
    margin-top: -10px; }
  .s-cart-total-price1 {
    padding: 5px 15px 10px; }
  .s-cart-total-price1 p {
    font-size: 9px;
    line-height: 1.2; }
  .s-cart-total-price1 .sum {
    font-size: 14px;
    margin-top: -8px; }
  .s-cart-total-button {
    padding-top: 2px; }
    .s-cart-total-button .s-header-btn.big {
      height: 34px;
      font-size: 13px;
      padding: 0 15px; }
  .s-cart-total-show {
    padding-top: 14px; }
  .s-cart-total-show .s-header-btn {
    height: 27px;
    font-size: 9px; }
  .s-cart-mobile {
    padding-top: 37px; }
  .s-cart-mobile .s-object-button .s-header-btn {
    font-size: 10px; }
    .s-cart-mobile .s-object-button .s-header-btn img {
      width: 17px; }
  .s-cart-mobile .s-object-button {
    padding-top: 4px; }
  .s-object-button .s-header-btn span {
    padding-left: 7px; }
  .p-cart .s-project-nav {
    padding-top: 9px; } }
