.s-header {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #afbbc5; }
  .s-header.style1 .s-header-inner {
    padding-left: 23px;
    padding-right: 0; }
  .s-header.style1 .s-header-menu {
    padding-right: 36px;
    margin-left: -18px;
    padding-left: 0; }
  .s-header-inner {
    padding-left: 69px;
    padding-right: 66px; }
  .s-header-menu {
    padding-left: 49px;
    padding-top: 3px;
    padding-right: 13px; }
    .s-header-menu li:not(:last-child) {
      margin-right: 62px; }
    .s-header-menu li a {
      color: #202020;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2;
      position: relative; }
      .s-header-menu li a:hover:after {
        transform: scale(1, 1);
        transform-origin: left center; }
      .s-header-menu li a:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -7px;
        display: block;
        background: #202020;
        height: 1px;
        width: 100%;
        display: block;
        transform: scale(0, 1);
        transform-origin: right center;
        transition: transform 500ms ease; }
  .s-header-contacts {
    margin-left: 30px;
    margin-right: 43px;
    margin-top: -1px;
    padding-left: 40px;
    position: relative; }
    .s-header-contacts .mobile {
      display: none; }
    .s-header-contacts:before {
      content: '';
      position: absolute;
      left: 0;
      top: 11px;
      background-image: url("../img/icon-phone.png");
      width: 25px;
      height: 27px;
      display: block; }
    .s-header-contacts p {
      color: darkgrey;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px; }
    .s-header-contacts a {
      font-family: Montserrat;
      font-size: 18px;
      line-height: 1.2;
      color: #c25806;
      font-weight: 700; }
      .s-header-contacts a span {
        color: #515151;
        font-weight: 400; }
  .s-header-btn {
    width: 185px;
    height: 45px;
    background-color: #f7934c;
    border-radius: 23px;
    color: white;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    transition: .3s all;
    position: relative;
    overflow: hidden;
    border: 0;
    cursor: pointer; }
    .s-header-btn.big {
      height: 68px;
      border-radius: 34px;
      font-size: 23px;
      width: auto;
      padding: 0 25px; }
    .s-header-btn span {
      position: relative;
      z-index: 2; }
    .s-header-btn:hover, .s-header-btn:active {
      background: #cc5803; }
  .s-header-button {
    padding-top: 4px; }
  .s-header-toggle {
    display: none;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 29px;
    cursor: pointer;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    z-index: 102;
    margin-left: 45px; }
    .s-header-toggle.active .icon-menu-burger {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: transform .2s linear .4s;
      -moz-transition: transform .2s linear .4s;
      -o-transition: transform .2s linear .4s;
      -ms-transition: transform .2s linear .4s;
      transition: transform .2s linear .4s;
      -webkit-transition: -webkit-transform .2s linear .4s;
      height: 2px; }
      .s-header-toggle.active .icon-menu-burger:before {
        -webkit-transition: top .2s linear;
        -moz-transition: top .2s linear;
        -o-transition: top .2s linear;
        -ms-transition: top .2s linear;
        transition: top .2s linear;
        top: 0;
        opacity: 0; }
      .s-header-toggle.active .icon-menu-burger:after {
        -webkit-transition: bottom .2s linear;
        -moz-transition: bottom .2s linear;
        -o-transition: bottom .2s linear;
        -ms-transition: bottom .2s linear;
        transition: bottom .2s linear;
        bottom: 0; }
      .s-header-toggle.active .icon-menu-burger:before, .s-header-toggle.active .icon-menu-burger:after, .s-header-toggle.active .icon-menu-burger .icon-menu-burger-line {
        background: #394148; }
      .s-header-toggle.active .icon-menu-burger .icon-menu-burger-line {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 100%; }
    .s-header-toggle .icon-menu-burger {
      height: 2px;
      width: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -1px 0 0 -24px;
      -webkit-transition: transform .2s ease 0;
      -moz-transition: transform .2s ease 0;
      -o-transition: transform .2s ease 0;
      -ms-transition: transform .2s ease 0;
      transition: transform .2s ease 0;
      -webkit-transition: -webkit-transform .2s ease 0; }
      .s-header-toggle .icon-menu-burger:before {
        top: -11px;
        -webkit-transition: top .2s linear .4s;
        -moz-transition: top .2s linear .4s;
        -o-transition: top .2s linear .4s;
        -ms-transition: top .2s linear .4s;
        transition: top .2s linear .4s; }
      .s-header-toggle .icon-menu-burger:after {
        bottom: -11px;
        -webkit-transition: bottom .2s linear .4s;
        -moz-transition: bottom .2s linear .4s;
        -o-transition: bottom .2s linear .4s;
        -ms-transition: bottom .2s linear .4s;
        transition: bottom .2s linear .4s; }
      .s-header-toggle .icon-menu-burger:before, .s-header-toggle .icon-menu-burger:after {
        background: #394148;
        border-radius: 1px;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0; }
      .s-header-toggle .icon-menu-burger-line {
        background: #394148;
        border-radius: 1px;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        -webkit-transition: transform .2s linear .2s;
        -moz-transition: transform .2s linear .2s;
        -o-transition: transform .2s linear .2s;
        -ms-transition: transform .2s linear .2s;
        transition: transform .2s linear .2s;
        -webkit-transition: -webkit-transform .2s linear .2s; }

.s-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
  padding-top: 24px;
  overflow-y: auto;
  transition: transform 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: translateX(-100%);
  display: none; }
  .s-menu.active {
    transform: translateX(0%); }
  .s-menu-nav {
    padding: 106px 67px 0; }
    .s-menu-nav-item + .s-menu-nav-item {
      margin-top: 33px; }
    .s-menu-nav-item a {
      color: #c25806;
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 700;
      line-height: 1.2;
      position: relative; }
      .s-menu-nav-item a:hover:after {
        transform: scale(0, 1);
        transform-origin: right center; }
      .s-menu-nav-item a:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        display: block;
        background: #c25806;
        height: 1px;
        width: 100%;
        display: block;
        transform: scale(1, 1);
        transform-origin: left center;
        transition: transform 500ms ease; }
    .s-menu-nav-list {
      padding-top: 16px;
      padding-bottom: 18px; }
      .s-menu-nav-list li a {
        color: #0a1314;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        position: relative; }
        .s-menu-nav-list li a:hover:after {
          transform: scale(1, 1);
          transform-origin: left center; }
        .s-menu-nav-list li a:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          display: block;
          background: #0a1314;
          height: 1px;
          width: 100%;
          display: block;
          transform: scale(0, 1);
          transform-origin: right center;
          transition: transform 500ms ease; }
  .s-menu .s-footer-contacts-list {
    padding-top: 60px;
    padding-left: 71px;
    padding-bottom: 70px; }
  .s-menu .s-footer-contacts-list li .text {
    color: #aeaeae;
    font-size: 21px; }
  .s-menu .s-footer-contacts-list li .text span {
    padding-bottom: 3px; }
  .s-menu .s-footer-contacts-list li .text a {
    font-size: 28px; }
  .s-menu .s-footer-contacts-list li .addr {
    margin-right: 0;
    color: #6c7680;
    font-size: 20px;
    line-height: 35px; }

@media only screen and (max-width: 1500px) {
  .s-header-inner {
    padding: 0; }
  .s-header-menu li:not(:last-child) {
    margin-right: 30px; }
  .s-header.style1 .s-header-inner {
    padding-left: 0; }
  .s-header.style1 .s-header-menu {
    margin-left: 0;
    padding-right: 0; }
  .s-header.style1 .s-header-contacts {
    margin: 0; } }

@media only screen and (max-width: 1200px) {
  .s-header-menu {
    display: none; }
  .s-header-contacts {
    margin-left: auto; }
  .s-header-toggle {
    display: block; }
  .s-menu {
    display: block; }
  .s-header.style1 .s-header-contacts {
    margin-left: auto;
    margin-right: 43px; } }

@media only screen and (max-width: 768px) {
  .s-header-button {
    display: none; }
  .s-header-contacts::before {
    display: none; }
  .s-header-contacts p {
    display: none; }
  .s-header-contacts > a {
    display: none; }
  .s-header-toggle {
    padding-right: 70px;
    margin-left: 36px; }
  .s-header-contacts .mobile {
    display: block; }
  .s-header-contacts {
    margin-right: 0;
    padding-top: 3px; }
  .s-header {
    padding-top: 24px; } }

@media only screen and (max-width: 565px) {
  .s-menu-nav {
    padding: 106px 40px 0; }
  .s-menu .s-footer-contacts-list {
    padding-left: 40px; }
  .s-header {
    padding-top: 12px;
    padding-bottom: 10px; } }

@media only screen and (max-width: 480px) {
  .s-header-logo {
    max-width: 89px; }
  .s-header-toggle {
    padding-right: 0; }
  .s-header-toggle .icon-menu-burger {
    margin: -1px 0 0 -14px;
    width: 30px; }
  .s-header-contacts {
    padding-left: 0; }
  .s-menu-nav {
    padding: 106px 0px 0; }
  .s-menu .s-footer-contacts-list {
    padding-left: 0px; }
  .s-menu .s-footer-contacts-list li .text {
    font-size: 14px; }
  .s-menu .s-footer-contacts-list li .addr {
    font-size: 14px; }
  .s-menu .s-footer-contacts-list li .text a {
    font-size: 18px; }
  .s-header-toggle {
    margin-right: 9px; }
  .s-header-toggle .icon-menu-burger {
    width: 22px; }
  .s-header-toggle {
    width: 13px;
    height: 23px;
    margin-left: 29px; }
  .s-header-toggle .icon-menu-burger::before {
    top: -7px; }
  .s-header-toggle .icon-menu-burger::after {
    bottom: -7px; }
  .s-header-toggle .icon-menu-burger {
    height: 1px; }
  .s-header-contacts a img {
    width: 20px; }
  .s-menu {
    padding-top: 13px; }
  .s-menu-nav {
    padding: 49px 33px 0; }
  .s-menu-nav-item a {
    font-size: 13px; }
  .s-menu-nav-list li a {
    font-size: 10px;
    line-height: 18px; }
  .s-menu-nav-list {
    padding-top: 7px;
    padding-bottom: 8px; }
  .s-menu-nav-item + .s-menu-nav-item {
    margin-top: 13px; }
  .s-menu .s-footer-contacts-list {
    padding-top: 26px; }
  .s-menu .s-footer-contacts-list li .text {
    font-size: 10px; }
  .s-menu .s-footer-contacts-list {
    padding: 26px 35px 30px; }
  .s-menu .s-footer-contacts-list li .icon img {
    width: 20px; }
  .s-menu .s-footer-contacts-list li:nth-child(2) .icon img {
    width: 15px; }
  .s-menu .s-footer-contacts-list li {
    padding-left: 33px; }
  .s-menu .s-footer-contacts-list li .text a {
    font-size: 14px; }
  .s-menu .s-footer-contacts-list li .text > span {
    padding-bottom: 0;
    margin-bottom: -5px; }
  .s-menu .s-footer-contacts-list li .addr {
    font-size: 10px;
    line-height: 17px; } }
