.s-project {
  background-color: #FFDFAE;
  padding-top: 46px;
}
.s-project-title2 {
  font-family: 'Montserrat';
  font-size: 50px;
  line-height: 120px;
  font-weight: 300;
  color: #070f0e; 
}
.s-header-menu li a.active {
  color: #cc5803;
}
.s-project-nav {
  padding-top: 23px;
  padding-left: 46px;
  padding-bottom: 27px;
}
.s-project-pic-top {
  position: relative;
}
.s-project-pic-top .right {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.23;
  width: 417px;
  height: 213px;
}
.s-project-pic-top .right img {
  display: block;
  width: 100%;
  height: 100%;
}

.about_company-info {
  margin-bottom:50px;
  padding-top: 98px;
}
.about_company-info-box {
  display: flex;
  align-items: center;
  
  padding-left: 79px;
}
.about_company-info-logo {
  margin-right: 87px;
}
.about_company-info-text {
  font-family: 'Montserrat';
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  color: #070f0e;
  max-width: 930px;
}
.about_company-info-text span {
  font-weight: 700;
}


.about_company-block {
  margin-bottom: 66px;
}
.about_company-info-block {
  display: flex;
  align-items: center;
}
.about_company-block-descr {
  margin-right: 155px;
  width: calc(100% - 812px);
}
.about_company-block-descr-title {
  font-family: 'Montserrat';
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #070f0e;
  margin-bottom: 31px;
}
.about_company-block-descr-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  color: #070f0e;
  line-height: 1.5
}
.about_company-block-descr-text p {
  margin-bottom: 30px;
}
.about_company-block-img {
  position: relative;  
  width: 657px;
  height: 555px;
}
.about_company-block-img img {
  display: block;
}
.about_company-block-img:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: -39px;
  width: 552px;
  height: 467px;
  background: url(../img/img/about_company_block_bg.png);
  z-index: -1;
}


.reward {
  margin-bottom: 147px;
}
.title {
    font-family: 'Montserrat';
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
    color: #070f0e; 
    margin-bottom: 60px; 
}
.reward_title {
  margin-bottom: 60px;
}
.reward_items {  
  padding-left: 73px;
  padding-right: 73px;
  display: flex;
  align-items: center;
  margin-left: -87px;
  margin-bottom: -30px;
}
.reward_items > * {
  margin-left: 87px;
  margin-bottom: 30px;
  width: calc(100%/4 - 87px);
}
.reward_item {
  position: relative;
}
.reward_item:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -34px;
  display: block;
  width: 100%;
  height: 424px;
  background-size: cover;
  background-position: center bottom;
  background-image: url(../img/docs-sh.png);
  z-index: -1;
}

.principle {
  margin-bottom: 109px;
}
.principle-title {
  margin-bottom: 50px;
}
.principle-box {
  display: flex;
}
.principle-left {
  width: 377px;
  flex-shrink: 0;
  margin-top: 15px;
}
.principle-left p {
  font-family: 'Montserrat';
  font-size: 17px;
  line-height: 25px;
  font-weight: 300;
  color: #070f0e;
  margin-right: 87px;
}
.principle-items {
  display: flex;
  align-items: stretch;
  margin-left: -87px;
  margin-bottom: -96px;
  flex-wrap: wrap;
}
.principle-items > * {
  width: calc(100%/2 - 87px);
  margin-left: 87px;
  margin-bottom: 96px;
}
.principle-item_title {
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  color: #cc5803;
  margin-bottom: 7px;
}
.principle-item_text {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #070f0e;
}


.office {
  margin-bottom: 87px;
}
.office-title {
  margin-bottom: 60px;
}
.office-info {
  margin-right: 25px;
}
.office-contact {
  margin-right: 25px;
}
.office-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.office-info_adress {
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  color: #070f0e;
  margin-bottom: 17px;
}
.office-info_time {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 700;
  color: #070f0e;
  margin-bottom: 14px;
}
.office-info_operating-mode {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 300;
  color: #070f0e;
  line-height: 1.5;
}
.office_link {
  font-family: 'Montserrat';
  font-size: 17px;
  line-height: 36px;
  color: #070f0e;
  text-decoration: underline;
}
.office-contact {
  padding: 50px 65px 44px 55px;
  border: 1px solid #cbd4d3;
  border-radius: 9px;
}
.office-contact_link {
  font-family: 'Montserrat';
  font-size: 38px;
  line-height: 1.2;
  font-weight: 400;
  color: #717d89;
  margin-bottom: 18px;
  display: block;
  white-space: nowrap;
}
.office-contact_link span {
  font-weight: 700;
  color: #f49854;
}
.office-img {
  width: 563px;
  height: 251px;
}
.office-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_partners .partners {
  padding-top: 75px;
}
.about_partners .partners-inner {
  padding-left: 144px;
  padding-right: 144px;
}
.about_partners .partners-title {
  margin-bottom: 119px;
}
.partners-block {
  display: flex;
  align-items: center;
  padding-bottom: 67px;
  border-bottom: 1px solid #bbc5cb;
  margin-bottom: 78px;
  padding-left: 68px;
}
.partners-block:last-child {
  border-bottom: none;
}
.about_partners .partners-img {
  margin-right: 50px;
  width: 365px;
  flex-shrink: 0;
}
.about_partners .patners-info {
  max-width: 600px;
}
.about_partners .patners-info_title {
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 22px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 19px;
}
.about_partners .patners-info_text {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  color: #070f0e;
}

.documents {
  padding-top: 74px;  
}
.documents.lc {
  padding-bottom: 74px;
}
.documents-page .s-project {
  padding-top: 92px;
  padding-bottom: 97px;
}
.documents-page .s-project-pic-top .right {
  bottom: -97px;
}
.documents-page .s-project-docs-line {
  margin: 0;
  padding-top: 0;
}

.about_news .s-news {
  padding-top: 64px;
  padding-bottom: 64px;
}
.about_news .s-news-title {
  margin-bottom: 28px;
}
.about_news .s-news-link {
  display: flex;
  align-items: center;
}
.about_news .s-news-link a {
  width: 71px;
  height: 28px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 120px;
  font-weight: 400;
  text-decoration: underline;
  color: #3d4950;
  transition: all .4s;
  margin-right: 22px;
}
.about_news .s-news-link a.active {
  width: 71px;
  height: 28px;
  border-radius: 14px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 120px;
  font-weight: 400;
  color: #20282d;
  text-decoration: none;
}
.about_news .s-news-link a:hover {
  border-radius: 14px;
  background: #fff;
  text-decoration: none;
}
.about_news .s-news-more {
  text-align: left;
  text-decoration: none;
  padding-top: 60px;
  padding-left: 55px;
}
.about_news .s-news-more a {
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
  color: #3d4950;  
  display: flex;
  align-items: center;
}
.about_news .s-news-more a span {
  text-decoration: underline;
  margin-right: 16px;
}
.about_news .s-news-more a:after {
  display: none;
}
.about_news .s-news-line {
  padding: 59px 34px 0;
}


.text_block .s-wrap {
  max-width: 1257px;
}
.text_block {
  padding-top: 75px;
  padding-bottom: 148px;
}
.text_block img {
  margin-top: 29px;
  margin-bottom: 66px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.text_block h3 {
  font-family: 'Montserrat';
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  color: #070f0e; 
  margin-bottom: 25px;
  padding-left: 48px;
  padding-right: 48px;
}
.text_block p {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 300;
  font-weight: 400;
  color: #070f0e;
  margin-bottom: 30px;
  padding-left: 48px;
  padding-right: 48px;
}
.text_block ul {
  margin-top: 74px;
  list-style: none;
  padding-left: 48px;
  padding-right: 48px;
}
.text_block ul li {
  position: relative;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 36px;
  font-weight: 500;
  color: #121212; 
  padding-left: 63px;
}
.text_block ul li:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  background: #cc5803;
  left: 0;
  top: 16px;
}
.text_block ol {
  margin-top: 74px;
  list-style: none;
  counter-reset:  item;
  padding-left: 48px;
  padding-right: 48px;
}
.text_block ol li {
  position: relative;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 36px;
  font-weight: 500;
  color: #121212; 
  padding-left: 63px;
}
.text_block ol li:nth-child(-n+9)::before {
  position: absolute;
  content: '0' counter(item);
  counter-increment: item;
  left: 12px;
  top: 0px;
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #cc5803;
}
.text_block ol li:nth-child(n+10)::before {
  position: absolute;
  content: "";
  content: counter(item);
  counter-increment: item;
  left: 0;
  top: 16px;
}
.text_block-column {
  columns: 2;
  column-gap: 30px;
}
.text_block p.p-bg {
  background: #ffdfae;
  border-radius: 10px; 
  margin-top: 71px;
  padding: 63px 69px;
  font-family: "Montserrat";
  font-size: 25px;
  line-height: 33px;
  font-weight: 500;
  color: #121212;
}
.text_block p.p-bl {
  border-left: 7px solid #cc5803;
  padding: 19px 60px 24px 45px;
  margin-left: 24px;
  margin-top: 71px;
  font-family: "Montserrat";
  font-size: 25px;
  line-height: 33px;
  font-weight: 500;
  color: #121212;
}
.text_block .table-wrap {
  margin-top: 99px;
  overflow-x: auto;
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 33px;
  font-weight: 500;
  color: #121212;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  white-space: nowrap;
}
.text_block table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.text_block table th, 
.text_block table td {
	text-align: left;
  padding: 36px 40px; 
  border-bottom: 2px solid #d3d3d3;
}
.text_block table th{
	font-weight: 600; 
  background-color: #e5eaf0;
  text-align: left;
}
.text_block table th:nth-child(1), 
.text_block table td:nth-child(1) {
  width: 20%;
}
.text_block table th:nth-child(2), 
.text_block table td:nth-child(2) {
  width: 30%;
}
.text_block table th:nth-child(3), 
.text_block table td:nth-child(3) {
  width: 50%;
}



.gallery {
  background: #ECF2F5;
  padding-top: 73px;
  padding-bottom: 123px;
}
.partners-inner {
  padding-left: 20px;
  padding-right: 20px;
}
.gallery-title {
  margin-bottom: 51px;
}
.gallery_items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -78px;
  margin-bottom: -58px;
}
.gallery_items > * {
  width: calc(100%/3 - 78px);
  margin-left: 78px;
  margin-bottom: 58px;
}
.gallery_item-img {
  position: relative;
  overflow: hidden;
  padding-bottom: 73.9%;
  background: #ddd;
}
.gallery_item-img img  {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.gallery_item-title {
  padding: 36px 25px 10px;
  font-family: "Montserrat";
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  color: #000000;
}
.about_gallery.about_news .s-news-more {
  padding-top: 50px;
  padding-left: 0px;
}


.reestr {
  padding-top: 74px;
  padding-bottom: 99px;
}
.reestr-block {
  display: flex;
  padding-bottom: 41px;
  margin-bottom: 39px;
  border-bottom: 1px solid #bbc5cb;
}
.reestr-img {
  width: 168px;
  flex-shrink: 0;
  margin-top: 30px;
  text-align: center;
}
.reestr-info_date {
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #878787;
  margin-bottom: 17px;
}
.reestr-info_text {
  font-family: "Montserrat";
  font-size: 17px;
  line-height: 22px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 16px;
}
.reestr-info_author {
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: #c25806;
}


.objects-page .s-project-pic-top .left {
  margin-left: 149px;
}
.objects {
  padding-top: 75px;
  padding-bottom: 155px;
  background: #ECF2F5;
}
.objects_items {
  padding-left: 149px;
  padding-right: 149px;
}
.objects_item {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.objects_item-info {
  padding: 52px 46px 59px;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.objects_item-info-title {
  font-family: 'Montserrat';
  font-size: 40px;
  line-height: 1.2;
  font-weight: 300;
  color: #252727; 
  margin-bottom: 49px;
}
.objects_item-info-list li a img {
  margin-right: 22px;
  flex-shrink: 0;
}
.objects_item-info-list li a {
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 60px;
  font-weight: 400;
  color: #0a1314;
  display: flex;
  align-items: center;
  width: calc(100% - 50px);
}

.objects_item-img {
  width: 777px;
  height: 100%;
}
.objects_item-img img {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
  height: 100%;  
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* .objects_item-img {
  position: relative;
  overflow: hidden;
  padding-bottom: 73.9%;
  background: #ddd;
}
.objects_item-img img  {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
} */
  






@media (max-width: 1500px) {
  .reward_items {
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: center;
    margin-left: -87px;
    margin-bottom: -30px;
  }
  .reward_items {
    margin-left: -40px;
  }
  .reward_items > * {
    margin-left: 40px;
    width: calc(100%/4 - 40px);
  }
  .office-contact {
    padding: 30px 20px;
  }
  .office-img {
    width: 450px;
    height: 201px;
  }
  .about_company .s-project-nav li:not(:last-child) {
    margin-right: 20px;
  }


}


@media (max-width: 1300px) {
  .about_company-block-img {
    position: relative;
    width: 470px;
    height: 397px;
  }
  .about_company-block-img img {
    width: 100%;
    height: 100%;
  }
  .about_company-info-block {
    justify-content: space-between;
  }
  .about_company-block-img:before {
    left: -20px;
    width: 400px;
    height: 397px;
  }
  .about_company-block-descr {
    margin-right: 30px;
    width: calc(100% - 520px);
  }
  .reward_items {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .reward_items::-webkit-scrollbar { 
    width: 0; 
  }
  .reward_items { 
    -ms-overflow-style: none; 
  }
  .reward_items { 
    overflow: -moz-scrollbars-none; 
  }
  .reward_item {
    width: 280px;
    height: 397px;
  }




}


@media (max-width: 1187px) {
  .about_company-info-box {
    padding-left: 0;
  }
  .about_company-info-logo {
    margin-right: 45px;
  }
  .about_company-info {
    margin-bottom: 74px;
  }
  .office-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
  .office-box {
    flex-wrap: wrap;
  }
  .principle-items > * {
    width: calc(100%/2 - 40px);
    margin-left: 40px;
    margin-bottom: 40px;
  } 
  .principle-items {
    margin-left: -40px;
    margin-bottom: -40px;
  }
  .title {
    margin-bottom: 30px;
  }
  .text_block h3,
  .text_block p,
  .text_block ul,
  .text_block ol {
    padding-left: 0;
    padding-right: 0;
  }

  .about_partners .partners-inner {
    padding-left: 0px;
    padding-right: 0px;
  }
  .about_partners .partners-img {
    margin-right: 35px;
  }
  .partners-inner {
    padding-left: 0px;
    padding-right: 0px;
  }
  .gallery-title {
    margin-bottom: 51px;
  }
  .gallery_items {
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .gallery_items > * {
    width: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .gallery_item-title {
    padding: 20px 15px 10px;
  }





}


@media (max-width: 1023px) {
  .about_company-info-text br {
    display: none;
  }  
  .about_company-info-text p:first-child {
    margin-bottom: 20px;
  }
  .about_company-info-block {
    flex-direction: column-reverse;
  }
  .about_company-block-descr {
    margin-right: 0px;
    margin-top: 60px;
    width: 100%;
  }
  .about_company-block-descr-title {
    margin-bottom: 20px;
  }
  .principle-box {
    flex-direction: column;
  }
  .principle-left {
    width: 100%;
    margin-top: 0;
    margin-bottom: 25px;
  }
  .about_company-block,
  .reward,
  .principle {
    margin-bottom: 70px;
  }
  .office-contact {
    width: 100%;
    margin-top: 20px;
  }
  .principle-left p {
    margin-right: 0;    
  }
  .principle-left p:first-child {
    margin-bottom: 20px;
  }
  .documents-page .s-project-docs-block {
    padding: 0;
  }
  .text_block img {
    margin-top: 0;
  }
  .text_block p.p-bg {
    padding: 40px;
    font-size: 22px;
    line-height: 30px;
  }
  .text_block p.p-bl {
    padding: 10px 30px;
    margin-left: 24px;
    font-size: 22px;
    line-height: 30px;
  }
  .text_block table th, 
  .text_block table td {
    padding: 20px 30px;
  }

  .partners-block {
    padding-left: 0;
  }
  .about_partners .partners-img {
    width: 300px;
  }

  .gallery_items {
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .gallery_items > * {
    width: calc(100%/2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .gallery {
    padding-top: 73px;
    padding-bottom: 93px;
  }




}



@media (max-width: 991px) {
  .about_news .s-news .s-news-line {
    padding: 0;
  }
  .about_news .s-news .s-news-link {
    margin-bottom: 48px;
  }

  .documents-page .s-project-docs-line {
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .documents-page .s-project-docs-block {
    width: calc(33.333% - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    flex-shrink: 0;
  }

}



@media (max-width: 768px) {
  .about_company-info-logo {
    display: none;
  }
  .about_company-block-img {
    width: 100%;
    height: auto;
  }
  .about_company-block-img:before {
    left: -20px;
    width: 90%;
    height: 90%;
  }
  .about_company-block-img img {
    width: calc(100% + 40px);
    height: 100%;
  }
  .principle-items {
    margin-left: 0px;
  }
  .principle-items > * {
    width: 100%;
    margin-left: 0px;
  } 
  .about_company-info-text {
    font-size: 19px;
  } 
  .about_company-info-text p span {
    font-size: 24px;
  } 
  .about_company-info-text p:first-child {
    margin-bottom: 40px;
  }
  .about_company-info {
    margin-bottom: 28px;
  }
  .about_company-block-descr-title {
    font-size: 36px;
  }
  .about_company-block-descr-text {
    font-size: 19px;
  }
  .about_company-block, 
  .reward, 
  .principle {
    margin-bottom: 115px;
  }
  .about_company-block-descr-text p:last-child {
    margin-bottom: 0;
  }
  .title {
    text-align: center;
    font-size: 48px;
    line-height: 52px;  
    margin-bottom: 55px;
  }
  .principle-left p {
    font-size: 19px;
  }
  .principle-item_title {
    font-size: 27px;
  }
  .principle-item_text {
    font-size: 19px;
  }
  .office_link {
    font-size: 19px;
  }
  .office-contact_link {
    font-size: 44px;
  }
  .office .s-header-button {
    display: block;
  }
  .office-contact {
    padding: 54px 53px 39px 53px;
  }
  .s-project-pic-top .right {
    display: none;
  }

  .text_block h3 {
    font-size: 36px;
  }
  .text_block p {
    font-size: 19px;
    line-height: 1.42;
  }
  .text_block ul li {
    font-size: 19px;
  }
  .text_block ol li {
    font-size: 19px;
  }
  .text_block-column {
    columns: 1;
    column-gap: 0px;
  }
  .text_block p.p-bg {
    padding: 20px;
    font-size: 19px;
    line-height: 27px;
    margin-top: 50px;
  }
  .text_block p.p-bl {
    padding: 10px 30px;
    margin-left: 17px;
    font-size: 19px;
    line-height: 27px;
  }
  .text_block .table-wrap {
    margin-top: 50px;
    font-size: 19px;
    line-height: 27px;
  }

  .partners-block {
    flex-direction: column;
    padding-bottom: 48px;
  }
  .about_partners .partners-img {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .about_partners .patners-info_text {
    font-size: 19px;
    line-height: 27px;
}
.about_partners .patners-info_title {
  font-size: 27px;
  line-height: 1.2;
  margin-bottom: 28px;
}
.about_partners .partners-title {
  margin-bottom: 50px;
}
.about_partners .partners {
  padding-top: 50px;
}

.gallery_items {
  margin-left: 0px;
}
.gallery_items > * {
  width: 100%;
  margin-left: 0px;
}
.gallery_item-title {
  font-size: 21px;
  line-height: 1.2;
  padding: 39px 24px 10px;
}
.about_news.about_gallery .s-news-more a {
  justify-content: center;
}

.reestr {
  padding-top: 76px;
  padding-bottom: 90px;
}
.reestr-block {
  padding-bottom: 44px;
  margin-bottom: 48px;
  border-bottom: 1px solid #bbc5cb;
}
.reestr-img {
  width: 120px;
}
.reestr-info_date {
  font-size: 18px;
}
.reestr-info_text {
  font-size: 21px;
  line-height: 28px;
}
.reestr-info_author {
  font-size: 18px;
  line-height: 21px;
}

.documents-page .s-project-docs-line {
  margin-left: -30px;
  margin-bottom: -20px;
}
.documents-page .s-project-docs-block {
  width: calc(50% - 30px);
  margin-left: 30px;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.documents-page .s-project-docs-item-img::after {
  height: 90px;
}



}



@media (max-width: 480px) {
  .s-project-title2 {
    font-size: 25px;
    line-height: 1;
  }
  .s-project {
    padding-top: 42px;
  }
  .s-project-nav {
    padding-left: 0;
    padding-bottom: 8px;
  }
  .about_company-info-text {
    font-size: 10px;
    line-height: 1.2;
  }
  .about_company-info-text p span {
    font-size: 12px;
    line-height: 1.2;
  }
  .about_company-info-text p:first-child {
    margin-bottom: 20px;
  }
  .about_company-block-descr {
    margin-top: 28px;
  }
  .about_company-block-descr-title {
    font-size: 18px;
  } 
  .about_company-block-descr-text p {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .title {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 27px;
  }
  .about_company-block, 
  .reward, 
  .principle {
    margin-bottom: 40px;
  }
  .reward_item > * {
    width: 144px;
    height: 197px;    
  }
  .reward_item img {
    object-fit: cover;
  }
  .principle-left p {
    font-size: 10px;
    line-height: 13px;
    margin-bottom: 10px;
  } 
  .principle-item_title {
    font-size: 14px;
  }
  .principle-item_text {
    font-size: 10px;
  }
  .principle-items > * {
    margin-bottom: 35px;
  }
  .principle-left p:first-child {
    margin-bottom: 10px;
  }
  .office-info_adress {
    font-size: 10px;
    margin-bottom: 4px;
  }
  .office-info_time {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .office-info_operating-mode {
    font-size: 10px;
  }
  .office_link {
    font-size: 9px;
    line-height: 1.2;
  }
  .office-contact {
    padding: 29px 26px;
  }
  .office-contact_link {
    font-size: 22px;
    margin-bottom: 16px;
  }
  .office {
    margin-bottom: 30px;
  }
  .reward_item:before {
    height: 197px;
    bottom: -18px;
  }
  .reward_item {
    width: 144px;
    height: 197px;
  }

  .about_news .s-news {
    padding-top: 35px;
    padding-bottom: 45px;
  }
  .about_news .s-news .s-news-link {
    margin-bottom: 26px;
  } 
  .about_news .s-news .s-news-link a {
    width: 48px;
    height: 19px;
    border-radius: 9px;
    font-size: 10px;
    line-height: 1.2;
    margin-right: 18px;
  }
  .about_news .s-news .s-news-link a.active {
    width: 48px;
    height: 19px;
    border-radius: 9px;
    font-size: 10px;
    line-height: 1.2;
    margin-right: 18px;
  }
  .about_news .s-news .s-news-more {
    padding-top: 45px;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  .about_news .s-news .s-news-more img {
    width: 30px;
    height: 30px;
  }

  .text_block {
    padding-top: 38px;
    padding-bottom: 69px;
}
.text_block img {
  margin-bottom: 25px;
}
.text_block h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.text_block p {
  font-size: 10px;
  line-height: 1.42;
  margin-bottom: 20px;
}
.text_block ul li {
  font-size: 10px;
  line-height: 25px;
  padding-left: 30px;
}
.text_block ol li {
  font-size: 10px;
  line-height: 25px;
  padding-left: 36px;
}
.text_block ul li:before {
  width: 20px;
  height: 2px;
  left: 0;
  top: 11px;
}
.text_block ol li:nth-child(-n+9)::before {
  left: 3px;
  top: 0px;
  font-size: 17px;
  line-height: 24px;
}
.text_block p.p-bg {
  padding: 14px;
  font-size: 10px;
  line-height: 15px;
  margin-top: 15px;
}
.text_block p.p-bl {
  padding: 5px 10px;
  margin-left: 8px;
  font-size: 10px;
  line-height: 15px;
  border-left: 3px solid #cc5803;
  margin-top: 25px;
}
.text_block .table-wrap {
  margin-top: 33px;
  font-size: 10px;
  line-height: 15px;
}
.text_block ul {
  margin-top: 25px;
}
.text_block ol {
  margin-top: 25px;
}

.about_partners .partners-title {
  margin-bottom: 43px;
} 
.about_partners .patners-info_title {
  font-size: 14px;
  margin-bottom: 13px;
}
.about_partners .partners-img {
  margin-bottom: 23px;
  width: 50%;
}
.about_partners .patners-info_text {
  font-size: 10px;
  line-height: 13px;
}
.partners-block {
  padding-bottom: 18px;
  margin-bottom: 37px;
}
.about_partners .partners {
  padding-top: 38px;
}

.gallery {
  padding-top: 36px;
  padding-bottom: 40px;
}
.gallery_item-title {
  font-size: 11px;
  padding: 19px 12px 10px;
}
.gallery_item-img img {
  border-radius: 5px;
}
.gallery_items {
  margin-bottom: -25px;
}
.gallery_items > * {
  margin-bottom: 25px;
}
.about_gallery.about_news .s-news-more {
  padding-top: 30px;
}

.reestr {
  padding-top: 37px;
  padding-bottom: 45px;
}
.reestr-block {
  padding-bottom: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #bbc5cb;
}
.reestr-img {
  width: 42px;
  margin-top: 21px;
}
.reestr-img img {
  width: 20px;
  height: 16px;
}
.reestr-info_date {
  font-size: 9px;
  margin-bottom: 11px;
}
.reestr-info_text {
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 10px;
}
.reestr-info_author {
  font-size: 9px;
  line-height: 10px;
}


.documents-page .s-project {
  padding-top: 42px;
  padding-bottom: 42px;
}
.documents {
  padding-top: 35px;
}





}